@page
@model An_application_to_collect_and_share_photos.Pages.Users.AssignRole
@{
}

<head>
    <link href="~/css/success.css" rel="stylesheet" />
</head>
    @if (TempData["Success"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Great!</b> - @TempData["Success"]</span>
        </div>
    }

<form method="post">
    <div class="form-group">
        <label>Select User:</label>
        <select class="form-control" asp-for="SelectedUserId">
            <option value="">-- Select User --</option>
            @foreach (var user in Model.Users)
            {
                <option value="@user.Id">@user.Email</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Select Role:</label>
        <select class="form-control" asp-for="SelectedRoleId">
            <option value="">-- Select Role --</option>
            @foreach (var role in Model.Roles)
            {
                <option value="@role.Id">@role.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
