@page
@model An_application_to_collect_and_share_photos.Pages.ProfilePageModel
@{
    ViewData["Title"] = "Profile";
}
<head>
    <link href="~/css/profile.css" rel="stylesheet" />

</head>
<div class="profilepage">
    <div class="header">
        <div class="profileimg">
            <img src="~/images/user.png" alt="profilephoto">
        </div>
        <div class="username">
            <p>@Model.UserProfile.UserName</p>
        </div>
        <div class="albums">
            <a asp-page="/Albums/ViewAlbums" asp-page-handler="UserAlbums" asp-route-userId="@Model.UserProfile.Id.ToString()">Albums</a>
        </div>
    </div>
    <div class="profilesheet">
        @foreach (var photo in Model.UserPhotos)
        {
            if (photo.Status == "Public" || photo.Status == "Protected" || User.IsInRole("Admin") || User.Identity.IsAuthenticated && Model.UserProfile.Id == Model.currentUser.Id)
            {
                <div class="photo">
                    <a asp-page="/Photos/ViewPhoto" asp-route-photoId="@photo.Id" asp-route-userId="@Model.UserProfile.Id.ToString()">
                       @if (photo.Status == "Protected")
                       {
                            <img src="@photo.Url" alt="@photo.Title" oncontextmenu="return false;">
                       }
                       else
                       {
                           <img src="@photo.Url" alt="@photo.Title">
                       }
                </a>
            </div>
            }
        }
    </div>
</div>